[Desktop Entry]
Encoding=UTF-8
Name=XMule
Comment=Yet Another eDonkey Client
Exec=xmule
Terminal=false
Type=Application
Categories=Network;P2P
X-ROCK-Name=xmule
