[Desktop Entry]
Encoding=UTF-8
Name=noteedit
Comment=Musical Score Editor
Exec=noteedit
Terminal=false
Type=Application
Categories=Audio;Music
X-ROCK-Name=noteedit
