[Desktop Entry]
Encoding=UTF-8
Name=MySQL Control Center
Comment=MySQL Administration Tool
Exec=mysqlcc
Terminal=false
Type=Application
Categories=Office;Database
X-ROCK-Name=mysqlcc
