[Desktop Entry]
Encoding=UTF-8
Name=GnomeSword
Comment=Bible Study Software
Exec=gnomesword
Terminal=false
Type=Application
Categories=Utility
X-ROCK-Name=gnomesword
